.exercise-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.btn-primary {
  width: 100%;
  max-width: 200px;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  background-color: red;
  border-radius: 15px;
  transition: transform 1s ease;
  cursor: pointer;
}

.btn-primary:hover {
  transform: scale(1.1);
}

.toast {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
}

.toast > .header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.toast > .header > .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.toast > .header > .title > .logo {
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 5px;
}

.toast > .header > .close {
  transition: transform, color 1s ease;
}

.toast > .header > .close:hover {
  transform: scale(1.4);
  color: red;
}

.toast > .body {
  padding: 1rem;
}

.card {
  width: 100%;
  max-width: 325px;
  height: auto;
  display: flex;
  flex-direction: column;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  overflow: hidden;
}

.card > .img {
  width: 100%;
  height: 150px;
  background-color: lightblue;
  border-bottom: 1px solid white;
}

.card > .body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}

.card > .body > .title {
  font-size: 1.5rem;
}

.card > .body > .btn {
  width: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  font-weight: bold;
  background-color: cyan;
  border-radius: 15px;
  transition: transform 1s ease;
  cursor: pointer;
}

.card > .body > .btn:hover {
  transform: scale(1.05);
}
